<div id="content">
  <div class="container media" style="text-align:center;">
    {% include 'breadcrumb' %}
   <h3><a href="https://cdn.shopify.com/s/files/1/0870/5152/files/Fibromyalgia-I.pdf?14397738545147562997" target="_blank" title="Fibromyalgia I"><strong> </strong></a></h3>
<h3><strong><script src="//fast.wistia.com/embed/medias/9hn1xg0izr.jsonp" async=""></script><script src="//fast.wistia.com/assets/external/E-v1.js" async=""></script></strong></h3>
<h4><script src="//fast.wistia.com/embed/medias/9hn1xg0izr.jsonp" async=""></script><script src="//fast.wistia.com/assets/external/E-v1.js" async=""></script></h4>
<div class="col-md-12" style="margin-bottom: 40px;">
  <meta charset="utf-8" /><meta charset="utf-8" />
<h1 style="text-align: center;"><strong><script src="//fast.wistia.com/embed/medias/9hn1xg0izr.jsonp" async=""></script><script src="//fast.wistia.com/assets/external/E-v1.js" async=""></script></strong></h1>

<h1>FEATURED VIDEOS</h1>
  
<div class="top-videos row">
<div class="col-md-6 wistia_embed wistia_async_9hn1xg0izr seo=false" style="height: 284px; width: 464px; display:block; margin:auto;"> </div>
<div class="col-md-6"> <iframe style="display:block; margin:auto;" width="490" height="284" src="https://www.youtube.com/embed/MXtY58l_Zgk" frameborder="0" allowfullscreen="" style="display: block; margin: auto;"></iframe></div>
</div>  
</div>  
    
    <div class ="media-sec">
<span><img src="https://cdn.shopify.com/s/files/1/0870/5152/files/Podcast_Link_small.png?3855316378921069503"/></span>    
<h1 style="text-align: center; padding-bottom: 8px; padding-top:8px;"><strong>PODCAST:</strong></h1>
<h2 style="text-align: center; padding-bottom: 15px;"><strong>Connecting The Dots Between Toxicity, Pain & Fatigue</strong></h2>
<div style = "font-size: 16px;">Listen to Dr. David M. Brady, ND discuss his new book, The Fibro-Fix: Get to the Root of Your Fibromyalgia and Start Reversing Your Chronic Pain and Fatigue in 21 Days learn why a combination of toxins, stress, and abuse are producing an epidemic in conversation with Alison Rose Levy. <a href="http://connectthedots.podbean.com/e/connect-the-dots-%E2%80%93-when-toxicity-overwhelms-the-body-listen-to-dr-david-m-brady-nd-%E2%80%93-071316/" title="The Fibro Fix Podcast" target="_blank">Click Here to Listen to Podcast...</a></div>
    </div>

<div class ="media-sec">
<span><img src="https://cdn.shopify.com/s/files/1/0870/5152/files/Podcast_Link_small.png?3855316378921069503"/></span>    
<h1 style="text-align: center; padding-bottom: 8px; padding-top:8px;"><strong>PODCAST:</strong></h1>
<h2 style="text-align: center; padding-bottom: 15px;"><strong>The Fibro Fix: How to Correctly Diagnose and Reverse Fibromyalgia</strong></h2>
<div style = "font-size: 16px;">The combination of fatigue and body-wide chronic pain, often called “fibromyalgia”, remains mysterious and confusing. And an alarming 66% of those suffering are misdiagnosed.  On this weeks podcast we demystify fibromyalgia with leading naturopathic medical doctor Dr. Brady. <a href="http://www.drjoetatta.com/dr-david-brady-the-fibro-fix/?inf_contact_key=3297b442edf0a1396b1549b1b55565f8bc63773627413d0934d07b54058a69fc" title="The Fibro Fix Podcast" target="_blank">Click Here to Listen to Podcast...</a></div>
    </div>

      
<div style = "padding-top: 30px;">
<h1 style="text-align: center; padding-bottom: 15px;">Live Appearances:</h1>
<h2 style="text-align: center; padding-bottom: 15px;"><a href="http://drdavidbrady.com/pages/appearances" target="_blank">Click here to see where Dr. Brady is speaking live.</a></h2>


<div style = "padding-bottom: 30px;">
<p>*Medical Disclaimer: The information on DrDavidBrady.com, and related blogs and emails, is provided for informational purposes only and is not intended to replace consultation with a qualified health care professional. It is not intended as medical advice and DOES NOT create a doctor-patient relationship between you and Dr. Brady. It is not intended for use in diagnosing or treating a health problem or disease, or prescribing treatment. Please consult your physician or healthcare professional before taking any medication or nutritional, herbal or homeopathic supplement, or beginning any treatment for any health problem. Information and statements regarding dietary supplements have not been evaluated by the Food and Drug Administration and are not intended to diagnose, treat, cure, or prevent any disease.</p>
<p class="text-muted">fibrofix.com is owned and operated by Formulated Nutriceuticals, LLC</p>
</div>
   
  </div>
</div>