<div class ="anchors">
      <span class="anchor-guide"><a href="#faq">FAQ</a></span>
      <span class="anchor-guide"><a href="#detox">Detoxification program guidelines</a></span>
      <span class="anchor-guide"><a href="#healthy">Healthy Food and Snack Options</a></span>
      </div>

<div class="row">
	<div class="container guidebook">
      
      
      <div class="page-big-title"> Fibro-Fix 21-Day Detox Box </div>
      
		<div class="page-section">
          <img src="https://cdn.shopify.com/s/files/1/1258/4853/files/Page_1_IMG_1.jpg"/>
		<div class="page-title">The Importance of Detoxification</div>
		<div class="page-text">The goal of this program is to gently and slowly support the process of
			metabolic detoxification. We live in an ever-increasingly toxic environment.
			Many of the toxins, also known as Persistent Organic Pollutants (POPs), are
			abundant in the environment today and did not exist 30 years ago. These
			new toxins include certain pesticides, herbicides, and industrial chemicals
			that can enter the body through food, water, and air supplies. These toxins
			can and often do become trapped in the body's organs and tissues, which
			over time can negatively impact health, vitality, and overall wellness, and may
			contribute to the development of chronic illness. A detoxification program
			should be simple to complete, effective in outcome, and without concern for
			safety. By supporting the body’s natural two-phase process of detoxification,
			toxins can safely and effectively be cleansed from the body.</div>
		<img src="https://cdn.shopify.com/s/files/1/1258/4853/files/Page_1_IMG_2.png"/>

		<a name="faq"></a> 
		<div class="page-title">FREQUENTLY ASKED QUESTIONS (FAQs)</div>
		<img src=""/>
		<div class="page-text">
			<div class="paragraph-title">Will it be uncomfortable?</div>
			There are bound to be differing opinions about the change in diet, but this detox
			is designed to be gentle and easy to follow. Remember, it is not a fast, nor is
			it a colon cleanse, both of which are very harsh on your system. You will be
			eating plenty of food and the shakes are pleasant-tasting. You may feel slight
			withdrawal symptoms in the first few days if you are giving up a lot of caffeine
			or sugar. The Fibro-Fix 21-Day Detox Box is a comprehensive formula which is
			meant to assist you through the challenging days. Be patient, the symptoms will
			pass, and it will all be worth it!
			<div class="paragraph-title">Will I be in the bathroom all day?</div>
			It is very important to consume extra water while on this program to help flush out
			toxins. Therefore, most people urinate more often than usual on this program.
			<div class="paragraph-title">Will I lose weight?</div>
			The Fibro-Fix 21-Day Detox Box is not designed to be a weight loss program.
			However, many people do lose weight during the course of this detox program.
			Some reasons for weight loss include: lower than usual caloric intake due to
			replacing meals with shakes, removing sugar from the diet, releasing toxins from
			fat stores, and decreasing consumption of allergenic foods such as wheat and
			dairy.
			<div class="paragraph-title">Will I get headaches?</div>
			Some people experience headaches during the first few days of their detox due
			to sugar and caffeine withdrawal. You may want to gradually decrease the intake
			of these substances one week prior to detoxification to minimize discomfort. The
			The Fibro-Fix 21-Day Detox Box powder is designed to assist your body in this
			process as quickly and efficiently as possible.
			<div class="paragraph-title">Can I exercise?</div>
			You may exercise normally (monitor yourself, of course). Some days you may feel
			fatigued. On these days, you may want to limit yourself to gentle movement such
			as walking, stretching, yoga, etc.
		</div><!--page text-->

		<div class="page-text">
			<div class="paragraph-title">Should I continue with my regular vitamins?</div>
			The Fibro-Fix 21-Day Detox Box contains a variety of vitamins and other nutrients
			to help meet your daily requirements. You may suspend other natural supplements
			during the detox under the guidance of your health care practitioner,
			but continue to take any medically prescribed pharmaceuticals. Ask your health
			care practitioner if you have any specific questions.

			<div class="entire-list col-md-12">
				<ul class="col-md-4">
					<li>Celery</li>
					<li>Apples</li>
					<li>Peaches</li>
					<li>Blueberries</li>
				</ul><!--end ul-->
				<ul class="col-md-4">
					<li>Strawberries</li>
					<li>Nectarines</li>
					<li>Bell Peppers</li>
					<li>Spinach</li>
				</ul><!--end ul-->
				<ul class="col-md-4">
					<li>Cherries</li>
					<li>Kale/Collard Greens</li>
					<li>Potatoes</li>
					<li>Grapes (Imported)</li>
				</ul><!--end ul-->
			</div> <!--end entire list-->
		</div><!--end page text-->

		<div class="page-text col-md-12">
			If organic varieties are not available, the following fresh fruits and vegetables
			consistently have the lowest levels of pesticides and are the safest choices for
			conventionally grown produce:

			<div class="entire-list">
				<ul class="col-md-4">
					<li>Onions</li>
					<li>Avocado</li>
					<li>Sweet Corn</li>
					<li>Pineapple</li>
					<li>Mangos</li>
				</ul><!--end ul-->
				<ul class="col-md-4">
					<li>Sweet Peas</li>
					<li>Asparagus</li>
					<li>Kiwi</li>
					<li>Cabbage</li>
					<li>Eggplant</li>
				</ul><!--end ul-->
				<ul class="col-md-4">
					<li>Watermelon</li>
					<li>Grapefruit</li>
					<li>Sweet Potato</li>
					<li>Honeydew Melon</li>
				</ul><!--end ul-->
			</div> <!--end entire list-->
			</div><!--end page text-->
</div><!--end section-->

<div class="page-section">
			<div class="page-title">The Fibro-Fix 21-Day Detox Box Difference</div>
			<div class="page-subtitle">Featuring USDA Organic Pea Protein</div>

			<div class="page-text">
				<div class="paragraph-title">Foundational Detox Shake</div>
				This proprietary detoxification powder is a unique and advanced combination
				of nutrients, antioxidants, fiber, fruit and vegetable extracts, and pure herbs that
				support the overall metabolic detoxification process while balancing Phase I and
				Phase II detoxification pathways.
				<div class="dose">Dose: Take 1 single serving drink mix packet twice daily</div>
				<div class="paragraph-title">Detoxification Program capsule packets</div>
				Detoxification Program capsule packets effectively support the detoxification
				process by supporting Phase II activity and insuring proper protein digestion.
				These packets contain, a proprietary protein digestive formula that helps eliminate
				gastrointestinal discomfort that may be associated with other detoxification
				programs.
				Additionally, the capsule packets are effective in helping protect the liver while
				chemicals and other toxins are mobilized for excretion.The capsule packets are
				designed with specific nutrients that assist in the avoidance of toxic overload and
				the reabsorption of harmful toxins back into the blood stream.
				<div class="dose">Dose: Take 1 capsule packet twice daily. This may be taken along with the shake.</div>
			</div><!--end page text-->
</div><!--end section-->

      <a name="detox"></a> 
<div class="page-section">

			<div class="page-title">Detoxification Program Guidelines</div>
			<div class="page-subtitle">Fibro-Fix 21-Day Detox Box</div>
			<div class="page-subtitle-2">Follow these guidelines throughout the Fibro-Fix 21-Day Detox Box</div>
			<div class="page-text">
				Focus on whole and seasonal foods. This usually means shopping the outer
				aisles of your grocery store or visiting your local farmers’ market. Avoid processed
				and packaged foods whenever possible.
			</div><!--end page text-->
</div><!--end section-->

<div class="page-section">
			<div class="page-title">Eliminate</div>
			<div class="page-text">
				<ul>
					<li>Sugar in all forms, including sucrose, fructose, high fructose corn syrup.
						Natural low-impact sweeteners such as stevia &polyols (e.g., xylitol &
						erythritol) are allowed.</li>
						<li>Artificial sweeteners (sucralose, maltodextrin, saccharin, aspartame, Sweet
							'n' Low, Splenda, Equal)</li>
							<li>Gluten-containing grains: avoid foods which contain wheat, oats, rye,
								spelt, kamut, bulgur, couscous, and barley. This includes pastas, bread,
								crackers, cereals, and other products made from these grains. Glutenfree
								whole grains such as brown rice, wild rice, millet, quinoa, amaranth,
								and buckwheat are allowable during the detox program.</li>
                  <li>Dairy products including milk, cheese, yogurt, and ice cream</li>
              <li>All alcohol and caffeine-containing beverages including coffee, tea and
									soda</li>
									<li>Soy protein, including tofu and tempeh</li>
									<li>Desserts (chocolate. candy, cakes, cookies)</li>
									<li>Fried foods, hydrogenated oils, margarine</li>
									<li>Peanuts/peanut butter (high allergen legumes)</li>
								</ul><!--end ul-->
							</div><!--end page text-->

							<img src="https://cdn.shopify.com/s/files/1/1258/4853/files/Page_4_IMG_1.jpg"/>
</div><!--end section-->

<div class="page-section">
			<div class="page-title">Detoxification Program Guidlines</div>
			<div class="page-subtitle">21 DAY SIMPLE SCHEDULE</div>
			<img src="https://cdn.shopify.com/s/files/1/1258/4853/files/Page_5_IMG_1.jpg"/>

			<div class="page-text">
			<div class="paragraph-title">Breakfast:</div>
Foundational Detox Shake
Mix one single-serving drink mix packet in water or your choice of unsweetened
almond milk, coconut milk, or other milk alternative.
Take one Detoxification Program capsule packet
<div class="paragraph-title">Lunch:</div>
Regular Meal: Choose healthy items suggested from the optimal food choices
on page 6
<div class="paragraph-title">Dinner:</div>
Foundational Detox Shake
Mix one single-serving drink mix packet in water or your choice of unsweetened
almond milk, coconut milk, or other milk alternative.
Take one Detoxification Program capsule packet
<div class="paragraph-title">Snacks:</div>
This is not a calorie restrictive program. If you feel hungry between meals, you
can snack on healthy whole foods in moderation. However, tune in to your body
and make sure that you are truly hungry and not just bored, tired, or stressed!
</div><!--end page text-->
</div><!--end section-->

      <a name="healthy"></a> 
<div class="page-section">
<div class="page-text col-md-12">
<div class="page-title">Healthy Food and Snack Options</div>
			<div class="page-subtitle">Follow for the entire Fibro-Fix 21-Day Detox Box</div>
			<div class="page-text col-md-6">
			<div class="paragraph-title">OPTIMAL PROTEIN CHOICES:</div>
			<ul>
					<li>Organic/hormone-free chicken</li>
						<li>Turkey</li>
							<li>Lamb</li>
								<li>Grass-fed beef</li>
									<li>Cold water fish (salmon, cod,sardines, pacific flounder/sole, butterfish, and trout- choose wild ocean fish over farm raised fish)</li>
									<li>Organic eggs</li>
									<li>Organic legumes (acceptable as avegetarian protein)</li>
								</ul><!--end ul-->
</div><!--end page text-->

<div class="page-text col-md-6">
			<div class="paragraph-title">OPTIMAL FAT CHOICES:</div>
				<ul>
					<li>Flaxseed</li>
						<li>Walnut oils</li>
							<li>Extra virgin olive oil</li>
								<li>Hempseed oil</li>
									<li>Avocado</li>
									<li>Raw, sprouted, or dry roasted nuts and seeds</li>
									<li>Organic cultured butter</li>
									<li>Ghee</li>
									<li>Coconut oil for higher heat cooking</li>
								</ul><!--end ul-->
					</div><!--end page text-->
				</div><!--end page text-->

<div class="paragraph-title">LOW GLYCEMIC INDEX FRUIT CHOICES:</div>
<div class="page-text">
Berries (blueberries/raspberries/strawberries)
</div><!--end page text-->

<div class="paragraph-title">MODERATE GLYCEMIC INDEX FRUIT CHOICES (FRESH OR FROZEN):</div>
<div class="page-text col-md-12">
	<ul class="col-md-6">
		<li>Cherries</li>
		<li>Pears</li>
		<li>Apricots</li>
		<li>Melons</li>
		<li>Plums</li>
		<li>Oranges</li>
		<li>Peaches</li>
	</ul>
	<ul class="col-md-6">
		<li>Grapefruit</li>
		<li>Apples</li>
		<li>Prunes</li>
		<li>Kiwi</li>
		<li>Nectarines</li>
		<li>Tangerine</li>
	</ul>
</div><!--end page text-->

<div class="paragraph-title">BEVERAGES:</div>
<div class="page-text col-md-12">
	<ul class="col-md-6">
		<li>Herbal teas</li>
		<li>Naturally decaffeinated green tea</li>
		<li>Spring water</li>
	</ul>
	<ul class="col-md-6">
		<li>Vegetable juices</li>
		<li>Coconut water</li>
	</ul>
</div><!--end page text-->

<div class="paragraph-title">VEGETABLE CHOICES:</div>
You can eat an unlimited amount of vegetables from the list below.
<div class="page-text col-md-12">
	
	<ul class="col-md-6">
		<li>Salad greens</li>
		<li>Cruciferous veggies</li>
      	<li>Carrots</li>
	</ul>
	<ul class="col-md-6">
		<li>Cucumbers</li>
      	<li>Sweet peppers</li>
		<li>Raw sauerkraut</li>
	</ul>

	Limit starchy veggies such as potatoes.
</div><!--end page text-->



<div class="paragraph-title">CONDIMENTS:</div>
<div class="page-text col-md-12">
	<ul class="col-md-6">
		<li>Lemon</li>
		<li>Lime</li>
		<li>Cayenne pepper</li>
		<li>Sea salt</li>
	</ul>
	<ul class="col-md-6">
		<li>Garlic</li>
		<li>Fresh herbs and spices</li>
		<li>Flax/olive oil & raw apple cider vinegar for dressings</li>
	</ul>
</div><!--end page text-->

<div class="paragraph-title">MISC. SNACK CHOICES:</div>
<div class="page-text col-md-12">
	<ul class="col-md-6">
		<li>Nuts (raw are best)</li>
		<li>Hummus</li>
		<li>Raw or steamed vegetables</li>
	</ul>
	<ul class="col-md-6">
		<li>Low glycemic fruit</li>
		<li>Almond butter with apple slices</li>
	</ul>
</div><!--end page text-->

<div class="paragraph-title">ALKALINE BROTH – A GREAT WAY TO ADD VEGETABLES TO YOUR PROGRAM</div>
<div class="page-text col-md-12">
Choose a combination of the following vegetables equaling approximately 1 ½ - 2
cups: celery, green beans, zucchini, spinach, parsley, kale, chard, carrots, onion,
garlic, and favorite spices. Place vegetables in a soup pot with a significant amount
of filtered water (more than enough to cover). Bring to boil and then let simmer for
45 minutes. Strain and keep the broth. You may drink as much of this broth as
you want during the Fibro-Fix 21-Day Detox Box with a minimum of 1 cup per day.
This recipe will keep in the refrigerator for 3 days. Please do not freeze and defrost.
Make fresh as needed. If you do not have a sensitive GI system you may purée
the vegetables and broth together in a blender and consume as a heartier soup.
</div><!--end page text-->
</div><!--end section-->
 

<div class="page-section">
  <img src="https://cdn.shopify.com/s/files/1/1258/4853/files/Page_8_IMG_1.jpg"/>
<div class="page-title">Sample Detox Menus</div>
<div class="subject-title">SAMPLE BREAKFAST MENUS</div>
<ul>
	<li>2-3 hard boiled eggs with ½ grapefruit</li>
	<li>⅔ cup hot quinoa cereal or gluten free steel cut oats, 1 scoop protein
powder (about 8 to 10 grams), ½ cup berries, and a small handful of
walnuts or pecans</li>
	<li>Sulfur Detox Scramble: 2-3 eggs scrambled with onion and/or garlic and/or
broccoli</li>
	<li>Add leftover salmon from night before to sautéed veggies, stir to heat up,
add condiments/spices</li>
	<li>2 to 3 poached eggs over a bed of fresh spinach and sliced tomato</li>
	<li>2 to 3 slices turkey bacon with leftover veggies from night before or sliced
tomato and avocado</li>
</ul>



<div class="subject-title">SAMPLE LUNCH AND DINNER MENUS</div>
<div class="paragraph-title">Option one</div>
<ul>
	<li>Green salad with sprouts, extra virgin olive oil, basil, & squeezed lemon or lime</li>
	<li>Baked cod topped with avocado salsa: Chop: 1 avocado, 1 tomato, ½ cup red
onion, add ½ cup capers (drained), ¼ cup fresh cilantro, ½ tsp. cumin, ⅛ tsp.
cayenne and 2 tablespoons lime juice.</li>
</ul>

<div class="paragraph-title">Option two</div>
<ul>
	<li>1 cup black bean soup</li>
	<li>Chopped cabbage with chicken and apple cider vinegar (can use leftover
grilled chicken)</li>
</ul>

<div class="paragraph-title">Option three</div>
<ul>
	<li>Organic vegetable broth</li>
	<li>Shrimp and vegetables: Sauté fresh tail-on shrimp and chopped garlic in
a pan with coconut oil, over moderate heat. Roughly chop 5-10 different
vegetables and lightly stir-fry with freshly grated ginger and 1/2 cup cooked
buckwheat noodles, lightly drizzle sesame oil</li>
</ul>

<div class="paragraph-title">Option four</div>
<ul>
	<li>Baby greens salad with extra virgin olive oil & squeezed lemon or lime</li>
	<li>Grilled buffalo burger on a baked or grilled portabella mushroom</li>
	<li>Mixed roasted vegetables: Roast combination of cauliflower, broccoli,
Brussels sprouts</li>
</ul>

<div class="paragraph-title">Option five</div>
<ul>
	<li>Beet greens with extra virgin olive oil & squeezed lemon or lime</li>
	<li>Wild salmon, steamed or grilled</li>
	<li>Steamed beets (steam 20-30 minutes or until soft, then peel off skin)</li>
</ul>

<div class="paragraph-title">Option six</div>
<ul>
	<li>Mixed greens salad with extra virgin olive oil or lemon flavored flax seed oil</li>
	<li>Broiled chicken with peppers: Roughly chop: green, yellow & red peppers,
onion and mushrooms; toss lightly with extra virgin olive oil & chopped garlic</li>
	<li>1/2 cup wild brown rice.</li>
</ul>

<div class="paragraph-title">Option seven</div>
<ul>
	<li>Steamed veggies (cauliflower, broccoli, carrots). Drizzle with olive oil and
lemon after steamed.</li>
	<li>Baked cod topped with tomato pesto</li>
</ul>

<div class="paragraph-title">Option eight</div>
<ul>
	<li>Roasted green beans</li>
	<li>Grilled turkey breast with sage</li>
	<li>1/2 baked sweet potato</li>
</ul>

<div class="paragraph-title">Option nine</div>
<ul>
	<li>Baked sole with lemon</li>
	<li>1/2 cup baked acorn or butternut squash</li>
	<li>Steamed green & yellow beans, topped with flax oil</li>
</ul>

<div class="paragraph-title">Option ten</div>
<ul>
	<li>Steamed kale</li>
	<li>Grilled chicken with garlic pesto: Mince 2 cloves of garlic and add to ⅛ cup
extra virgin olive oil with some finely chopped fresh basil or 1/2 tsp of dried
basil. Spread garlic-basil mixture on chicken breasts and allow to marinate
while preparing the rest of dinner. Grill.</li>
</ul>

<div class="paragraph-title">Option eleven</div>
<ul>
	<li>1 cup hearty vegetable soup</li>
	<li>Grilled salmon</li>
	<li>Steamed artichoke with lemon</li>
</ul>

<div class="paragraph-title">Option twelve</div>
<ul>
	<li>3 to 4 oz chicken salad (made with olive oil instead of mayonnaise) wrapped
in a large lettuce leaf. Feel free to add grated carrots, avocado, or other
veggie of your choice.</li>
</ul>

<div class="paragraph-title">Option thirteen</div>
<ul>
	<li>Large mixed green salad with veggies of your choice, 3 to 4 oz grilled
chicken or fish, topped with extra virgin olive oil, lemon, and herbs of choice.</li>
</ul>


<div class="subject-title">KID-FRIENDLY MENU IDEAS</div>
<ul>
	<li>Brown ground turkey, sauté veggies, add tomato sauce and heat through,
serve with spaghetti squash or quinoa spaghetti noodles</li>
	<li>Mashed sweet potato or parsnips with or without olive oil and cut up chicken</li>
	<li>Grilled chicken or fish and cut up mango in small corn tortillas. (May add
chopped onion, tomato, and cilantro if tolerated)</li>
</ul>


<div class="subject-title">HEALTHY SNACK OPTIONS</div>
<ul>
	<li>1 piece of fruit and 10 to 12 almonds, walnuts or pecans</li>
	<li>Cut up carrots or bell pepper with 1 to 2 Tbs hummus</li>
	<li>Apple slices or celery sticks with 1 Tbs almond butter</li>
	<li>Turkey Roll Up: Chop up tomato, cucumber, and ¼ avocado, grate a carrot,
and add to the middle of a slice of nitrate free turkey. Roll the turkey around
the ingredients and you have a turkey roll up. Variation: add salsa or hummus</li>
</ul>

<img src="" />

<img src="" />

<div class="page-text">
<div class="paragraph-title">Notes on Plastic</div>
Never heat food in plastic, as this process releases harmful chemicals that can
seep into your food. Use glass or ceramic instead.
</div><!--end page text-->

<div class="page-text">
<div class="paragraph-title">Skin Brushing</div>
To aid in lymphatic drainage, use a dry, natural fiber shower brush or loofah to
massage your entire body before you shower or bathe. Start at the toes, and
gently scrub, using circular motions toward your heart.
</div><!--end page text-->

<div class="page-text">
<div class="paragraph-title">Clean Water</div>
Public tap water is often contaminated. Drink and cook with only pure, filtered water
and consider adding a filter to your shower.
</div><!--end page text-->

<div class="page-text">
<div class="paragraph-title">Microwave Ovens</div>
Although the convenience of microwaves is indisputable, this method of heating
can disrupt chemical linkages in otherwise healthy foods and can decrease their
nutritional value. Heat on a stovetop or in an oven whenever possible and use a
cast iron pan. Avoid Teflon and synthetic non-stick coatings.
</div><!--end page text-->

<div class="page-text">
<div class="paragraph-title">Exercise</div>
One of the best ways to increase your metabolic activity is to simply use your
body. Daily exercise has innumerable benefits including building lean muscle
mass, which helps you burn more calories at rest. Consider jumping on a mini
trampoline for 3-5 minutes a day to boost your health and vitality. Sweating also
releases toxins.
</div><!--end page text-->

        <div class="products banner" style="background: transparent;">                
              
              <h2 style="text-align: center; color: #000;">Buy the 21-Day Detox Box Today!</h2>
              
              <a class="btn_c" style="max-width:300px;" href="https://fibrofix.com/collections/all-products">Buy Now</a>
               
            </div>
</div><!--end section-->
						</div>
					</div>