<body class="briefcase-lp-supplement   hs-content-id-3951864893 hs-landing-page hs-page hs-content-path-fibrofix hs-content-name-fibro-fix  " style="">
    <div class="header-container-wrapper">
    <div class="header-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell white-page-center " style="background: white" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="0" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1457203471952958" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span6 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="3" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1458073525486767" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//cdn2.hubspot.net/hub/141581/hubfs/Fibro_fix_logo.jpeg?t=1464280796438&amp;width=1024" class="hs-image-widget " style="width:1024px;border-width:0px;border:0px;" width="1024" alt="Fibro_fix_logo.jpeg" title="Fibro_fix_logo.jpeg" srcset="//cdn2.hubspot.net/hub/141581/hubfs/Fibro_fix_logo.jpeg?t=1464280796438&amp;width=512 512w, //cdn2.hubspot.net/hub/141581/hubfs/Fibro_fix_logo.jpeg?t=1464280796438&amp;width=1024 1024w, //cdn2.hubspot.net/hub/141581/hubfs/Fibro_fix_logo.jpeg?t=1464280796438&amp;width=1536 1536w, //cdn2.hubspot.net/hub/141581/hubfs/Fibro_fix_logo.jpeg?t=1464280796438&amp;width=2048 2048w, //cdn2.hubspot.net/hub/141581/hubfs/Fibro_fix_logo.jpeg?t=1464280796438&amp;width=2560 2560w, //cdn2.hubspot.net/hub/141581/hubfs/Fibro_fix_logo.jpeg?t=1464280796438&amp;width=3072 3072w" sizes="(max-width: 1024px) 100vw, 1024px"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="9" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1458073526940817" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end header -->
</div><!--end header wrapper -->

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="padding: 5% 0 3% 0;" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span8 widget-span widget-type-cell section-1-content" style="" data-widget-type="cell" data-x="0" data-w="8">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-2 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1460389771076816" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><div style="text-align: center;"><span style="color: #444444; font-size: 20px; font-weight: 400; line-height: 1.75em;"><strong>Get to the root of your FIBROMYALGIA and start </strong></span></div>
<div style="text-align: center;"><span style="color: #444444; font-size: 20px; font-weight: 400; line-height: 1.75em;"><strong>reversing your chronic pain and fatigue in just 21 DAYS!</strong></span></div>
<div style="text-align: center;">&nbsp;</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-2 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14570455116936560" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:75.0% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_cs40hs7q8p videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
</span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_widget " style="" data-widget-type="global_widget" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_shadow_line_section_separator_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image" data-global-widget-id="3945518567"><img src="//cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=900" class="hs-image-widget " style="width:900px;border-width:0px;border:0px;" width="900" alt="Shadow-Bar_2.png" title="Shadow-Bar_2.png" srcset="//cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=450 450w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=900 900w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=1350 1350w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=1800 1800w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=2250 2250w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=2700 2700w" sizes="(max-width: 900px) 100vw, 900px"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span6 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="0" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14572007217941249" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//cdn2.hubspot.net/hub/141581/hubfs/fibro_fix_book.jpeg?t=1464280796438&amp;width=233" class="hs-image-widget " style="width:233px;border-width:0px;border:0px;" width="233" alt="Firbro-Fix_3d_Cover_Pic.jpg" title="Firbro-Fix_3d_Cover_Pic.jpg" srcset="//cdn2.hubspot.net/hub/141581/hubfs/fibro_fix_book.jpeg?t=1464280796438&amp;width=117 117w, //cdn2.hubspot.net/hub/141581/hubfs/fibro_fix_book.jpeg?t=1464280796438&amp;width=233 233w, //cdn2.hubspot.net/hub/141581/hubfs/fibro_fix_book.jpeg?t=1464280796438&amp;width=350 350w, //cdn2.hubspot.net/hub/141581/hubfs/fibro_fix_book.jpeg?t=1464280796438&amp;width=466 466w, //cdn2.hubspot.net/hub/141581/hubfs/fibro_fix_book.jpeg?t=1464280796438&amp;width=583 583w, //cdn2.hubspot.net/hub/141581/hubfs/fibro_fix_book.jpeg?t=1464280796438&amp;width=699 699w" sizes="(max-width: 233px) 100vw, 233px"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span6 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="6" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14572007068531031" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h4 style="text-align: center;"><span style="font-size: 18px; background-color: #ffffff; color: #333333;">Pre-Order at:</span></h4>
<p><span style="font-size: 24px; background-color: #ffffff; color: #99cc00;"><a href="http://www.amazon.com/gp/product/1623367123?keywords=the%20fibro%20fix&amp;qid=1457204046&amp;ref_=sr_1_1&amp;sr=8-1" target="_blank" data-mce-target="_blank"><img src="//cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1464280796438&amp;width=145" alt="amazon-logo_white.png" title="amazon-logo_white.png" width="145" style="display: block; margin-left: auto; margin-right: auto; width: 145px;" srcset="//cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1464280796438&amp;width=73 73w, //cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1464280796438&amp;width=145 145w, //cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1464280796438&amp;width=218 218w, //cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1464280796438&amp;width=290 290w, //cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1464280796438&amp;width=363 363w, //cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1464280796438&amp;width=435 435w" sizes="(max-width: 145px) 100vw, 145px"></a></span></p>
<p><a href="http://www.barnesandnoble.com/w/the-fibro-fix-david-m-brady/1122572181?ean=9781623367121" target="_blank" data-mce-target="_blank"><img src="//cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1464280796438&amp;width=95" alt="Barnes-and-Noble-Logo.gif" title="Barnes-and-Noble-Logo.gif" width="95" style="display: block; margin-left: auto; margin-right: auto; width: 95px;" srcset="//cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1464280796438&amp;width=48 48w, //cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1464280796438&amp;width=95 95w, //cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1464280796438&amp;width=143 143w, //cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1464280796438&amp;width=190 190w, //cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1464280796438&amp;width=238 238w, //cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1464280796438&amp;width=285 285w" sizes="(max-width: 95px) 100vw, 95px"></a></p>
<p><a href="http://www.booksamillion.com/p/Fibro-Fix/David-M-Brady/9781623367121?id=6572025687624" target="_blank" data-mce-target="_blank"><img src="//cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1464280796438&amp;width=120" alt="BAM.jpg" title="BAM.jpg" width="120" style="display: block; margin-left: auto; margin-right: auto; width: 120px;" srcset="//cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1464280796438&amp;width=60 60w, //cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1464280796438&amp;width=120 120w, //cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1464280796438&amp;width=180 180w, //cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1464280796438&amp;width=240 240w, //cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1464280796438&amp;width=300 300w, //cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1464280796438&amp;width=360 360w" sizes="(max-width: 120px) 100vw, 120px"></a></p>
<p><a href="https://itunes.apple.com/us/book/the-fibro-fix/id1072489446?mt=11"><img src="//cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1464280796438&amp;width=110&amp;height=40" alt="APPLE.png" title="APPLE.png" width="110" height="40" style="display: block; margin-left: auto; margin-right: auto;" srcset="//cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1464280796438&amp;width=55&amp;height=20 55w, //cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1464280796438&amp;width=110&amp;height=40 110w, //cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1464280796438&amp;width=165&amp;height=60 165w, //cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1464280796438&amp;width=220&amp;height=80 220w, //cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1464280796438&amp;width=275&amp;height=100 275w, //cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1464280796438&amp;width=330&amp;height=120 330w" sizes="(max-width: 110px) 100vw, 110px"></a></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->



</div><!--end widget-span -->
<div class="span4 widget-span widget-type-cell form-wrapper" style="" data-widget-type="cell" data-x="8" data-w="4">

<div class="row-fluid-wrapper row-depth-1 row-number-7 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-8 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text form-header white-text" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_144189701695321904" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><div data-canvas-width="242.3814705882353" style="text-align: center;"><strong><span style="font-size: 30px;">Get Your Free ePaper Now!</span></strong></div>
<div data-canvas-width="242.3814705882353" style="text-align: center;"><em>&nbsp;</em></div>
<div data-canvas-width="242.3814705882353" style="text-align: center;"><strong><em><span style="font-size: 20px;">Fibromyalgia:&nbsp;Proper Diagnosis is Half the Cure!</span></em></strong></div>
<div data-canvas-width="242.3814705882353" style="text-align: center;">&nbsp;</div>
<div data-canvas-width="242.3814705882353" style="text-align: center;"><em><span style="font-size: 20px;"><i>Learn why fibromyalgia is so commonly misdiagnosed, leading to improper treatment, and how to avoid this pitfall!</i></span></em></div>
<div style="text-align: center;">&nbsp;</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-9 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-form briefcase-form" style="" data-widget-type="form" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_144189692175418672" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" style="" data-hs-cos-general-type="widget" data-hs-cos-type="form"><h3 id="hs_cos_wrapper_module_144189692175418672_title" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text">Fill Out This Quick Form to Receive Your Free ePaper!                                           </h3>

<div id="hs_form_target_module_144189692175418672"></div>

<!--[if lte IE 8]>
<script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" src="https://js.hsforms.net/forms/v2.js"></script>

<script>
    hbspt.forms.create({
        portalId: '141581',
        formId: '987ece0c-fb52-4174-bb54-b818073359ec',
        formInstanceId: '4351',
        pageId: 3951864893,
        
        
        
        
        pageName: "Fibro Fix Intro",
        
        
        redirectUrl: "http:\/\/info.designsforhealth.com\/fibrofix?portalId=141581&hsFormKey=c8396b6906b7b9735faa58017668686e#module_144189692175418672",
        
        
        
        css: '',
        target: '#hs_form_target_module_144189692175418672',
        
        
        
        
        
        contentType: "landing-page",
        
        formData: {
        cssClass: 'hs-form stacked hs-custom-form'
        }
    });
</script></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
<div class="row-fluid-wrapper row-depth-1 row-number-15 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_widget " style="text-align: center; padding-top: 5%;" data-widget-type="global_widget" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_shadow_line_section_separator_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image" data-global-widget-id="3945518567"><img src="//cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=900" class="hs-image-widget " style="width:900px;border-width:0px;border:0px;" width="900" alt="Shadow-Bar_2.png" title="Shadow-Bar_2.png" srcset="//cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=450 450w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=900 900w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=1350 1350w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=1800 1800w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=2250 2250w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=2700 2700w" sizes="(max-width: 900px) 100vw, 900px"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14619404786701403" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h4 style="text-align: center;"><span>Pre-Order <em>The Fibro-Fix</em>&nbsp;now </span><span>by clicking on the logo&nbsp;of your favorite <span style="font-size: 24px;">bookseller above.</span></span></h4>
<h4 style="text-align: center;"><span style="font-size: 24px;">Then return to the site and validate your purchase to receive your free&nbsp;bonus&nbsp;video interview with Dr. Brady on fibromyalgia!</span></h4>
<h2 style="text-align: center;"><span style="font-size: 18px;"><strong style="color: #444444; font-size: 16px; line-height: 1.75em;">Click below&nbsp;to validate your purchase and receive an extra bonus video!</strong></span></h2>
<p style="text-align: center;"><span><!--HubSpot Call-to-Action Code --> 
<span class="hs-cta-wrapper" id="hs-cta-wrapper-ffb7cd49-fb34-460e-8db4-6349a3c542b8"> <span class="hs-cta-node hs-cta-ffb7cd49-fb34-460e-8db4-6349a3c542b8" id="hs-cta-ffb7cd49-fb34-460e-8db4-6349a3c542b8"> 
  <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--> <a href="http://cta-redirect.hubspot.com/cta/redirect/141581/ffb7cd49-fb34-460e-8db4-6349a3c542b8"><img class="hs-cta-img" id="hs-cta-img-ffb7cd49-fb34-460e-8db4-6349a3c542b8" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/141581/ffb7cd49-fb34-460e-8db4-6349a3c542b8.png" alt="VALIDATE YOUR PURCHASE AND RECIEVE YOUR VIDEO!"></a> </span> <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script> <script type="text/javascript">
        hbspt.cta.load(141581, 'ffb7cd49-fb34-460e-8db4-6349a3c542b8', {});
    </script> </span> 
<!-- end HubSpot Call-to-Action Code --></span></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-15 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_widget " style="text-align: center; padding-top: 5%;" data-widget-type="global_widget" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_shadow_line_section_separator_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image" data-global-widget-id="3945518567"><img src="//cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=900" class="hs-image-widget " style="width:900px;border-width:0px;border:0px;" width="900" alt="Shadow-Bar_2.png" title="Shadow-Bar_2.png" srcset="//cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=450 450w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=900 900w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=1350 1350w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=1800 1800w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=2250 2250w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=2700 2700w" sizes="(max-width: 900px) 100vw, 900px"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text text-2" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1452104782121273305" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p><strong>The Fibro Fix:&nbsp;</strong><strong>The breakthrough guide to begin healing your fibromyalgia and living pain-free.</strong></p>
<p>Are you suffering from debilitating chronic pain? Do you want to regain your energy and relieve your fibromyalgia symptoms? You’re not alone. More than 30 million Americans suffer from fatigue and body-wide chronic pain, often called “fibromyalgia.” But diagnosing and treating fibromyalgia remains mysterious and confusing, and studies show that up to 2/3 of sufferers are misdiagnosed. Fortunately, leading naturopathic medical doctor and nutritionist David Brady is here with the answer in <em>The Fibro Fix</em>.</p>
<p>For more than 25 years, Dr. Brady has helped many thousands of patients seek relief from their fibromyalgia. In <em>The Fibro Fix</em>, you’ll access his comprehensive 21-day program, a life-changing prescription to determine if, in fact, you’re suffering from actual fibromyalgia or from one of myriad of other conditions often misdiagnosed as fibromyalgia. You’ll begin with three simple steps—detoxification, dietary changes, and movement—to start relieving your symptoms for good. The plan then offers deeper, long-term solutions designed to relieve your symptoms, based on your specific root cause, so that you can get back to feeling your best. He also includes delicious recipes, movement &amp; exercise guides, supplement information, stress management techniques, and medication guidance, when needed.</p>
<p>In <strong><em>The Fibro Fix</em></strong> you will learn:&nbsp;</p>
<ul>
<li>What is fibromyalgia really?</li>
<li>Do you really have it after all?</li>
<li>What kind of other problems frequently are misdiagnosed as fibromyalgia?</li>
<li>If I don’t really have fibromyalgia, how do I find out what is causing my symptoms?</li>
<li>How do I start my recovery plan?</li>
<li>What about the commonly used medications for fibromyalgia? Do they work?</li>
<li>Does diet matter?</li>
<li>Can supplements and herbal medicines help?</li>
<li>How about exercise and movement?</li>
<li>Do stress reducing practices like meditation, relaxation, and biofeedback really work?</li>
<li>How do find a doctor that really understands fibromyalgia to help me?</li>
</ul>
<p><span>DAVID M. BRADY, ND,</span> is a leading naturopathic medical doctor at Whole Body Medicine in Fairfield, Connecticut. He is the V.P of Health Sciences and the Director of the Human Nutrition Institute at the University of Bridgeport and the Chief Medical Officer of Designs for Health, Inc. and Diagnostic Solutions Laboratory, LLC. Dr. Brady is a highly sought after presenter and prolific author of medical papers and research articles on fibromyalgia and is a dedicated champion and advocate for patients suffering with a fibromyalgia diagnosis.</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
<div class="row-fluid-wrapper row-depth-1 row-number-10 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-15 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_widget " style="text-align: center; padding-top: 5%;" data-widget-type="global_widget" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_shadow_line_section_separator_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image" data-global-widget-id="3945518567"><img src="//cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=900" class="hs-image-widget " style="width:900px;border-width:0px;border:0px;" width="900" alt="Shadow-Bar_2.png" title="Shadow-Bar_2.png" srcset="//cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=450 450w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=900 900w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=1350 1350w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=1800 1800w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=2250 2250w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=2700 2700w" sizes="(max-width: 900px) 100vw, 900px"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-12 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1462899181911885" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2 style="text-align: center;">&nbsp;</h2>
<h2 style="text-align: center;"><span>Preview the Introduction and Chapter 1 of </span><i>The Fibro Fix</i></h2>
<p style="text-align: center;"><i><!--HubSpot Call-to-Action Code --> 
<span class="hs-cta-wrapper" id="hs-cta-wrapper-ced09394-5bf5-4aeb-b74d-befb32b6141d"> <span class="hs-cta-node hs-cta-ced09394-5bf5-4aeb-b74d-befb32b6141d" id="hs-cta-ced09394-5bf5-4aeb-b74d-befb32b6141d"> 
  <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--> <a href="http://cta-redirect.hubspot.com/cta/redirect/141581/ced09394-5bf5-4aeb-b74d-befb32b6141d"><img class="hs-cta-img" id="hs-cta-img-ced09394-5bf5-4aeb-b74d-befb32b6141d" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/141581/ced09394-5bf5-4aeb-b74d-befb32b6141d.png" alt="Click Here to Preview&nbsp;The Fibro Fix Now"></a> </span> <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script> <script type="text/javascript">
        hbspt.cta.load(141581, 'ced09394-5bf5-4aeb-b74d-befb32b6141d', {});
    </script> </span> 
<!-- end HubSpot Call-to-Action Code --></i></p>
<p style="text-align: center;">&nbsp;</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-13 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14628948889551639" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2 style="text-align: center; padding-left: 30px;">What Other Experts are Saying:</h2></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-14 ">
<div class="row-fluid ">
<div class="span6 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1462895063502894" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>"Dr. David Brady approaches the topic of fibromyalgia care with knowledge that is both broad and deep; careful consideration of evidence; a fierce commitment to helping patients; a bounty of compassion; and a holistic perspective. His approach is as full of empowerment and hope as it is well informed by science. Guidance in this challenging area doesn't come any better than this."</p>
<ul>
<li><em>David L. Katz, MD, MPH, Director, Yale University’s Prevention Research Center, bestselling author of Disease Proof and The Flavor Point Diet.</em></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span6 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="6" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14628948758211445" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p><em>“The Fibro Fix </em>offers the first effective and integrative approach for dealing with fibromyalgia, an incredibly pervasive and often debilitating disorder. This powerful book wonderfully supplants the inadequacies of a drug-centered, symptom focused approach by providing a comprehensive program that addresses fibromyalgia's underlying causes.”</p>
<ul>
<li><em>David Perlmutter, MD, Author, #1 New York Times Bestseller, Grain Brain and Brain Maker.</em></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-15 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_widget " style="text-align: center; padding-top: 5%;" data-widget-type="global_widget" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_shadow_line_section_separator_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image" data-global-widget-id="3945518567"><img src="//cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=900" class="hs-image-widget " style="width:900px;border-width:0px;border:0px;" width="900" alt="Shadow-Bar_2.png" title="Shadow-Bar_2.png" srcset="//cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=450 450w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=900 900w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=1350 1350w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=1800 1800w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=2250 2250w, //cdn2.hubspot.net/hub/213882/hubfs/images/HubSpot_Templates/Back_Bay/Shadow-Bar_2.png?t=1464280796438&amp;width=2700 2700w" sizes="(max-width: 900px) 100vw, 900px"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-16 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell cta-group center-content" style="padding-bottom: 0;" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-17 ">
<div class="row-fluid ">
<div class="span2 widget-span widget-type-space " style="" data-widget-type="space" data-x="0" data-w="2">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_145202532457542367" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_space" style="" data-hs-cos-general-type="widget" data-hs-cos-type="space"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span8 widget-span widget-type-rich_text cta-content" style="" data-widget-type="rich_text" data-x="2" data-w="8">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_145202529874036338" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2 style="text-align: center;"><span style="color: #000080; background-color: #ffffff;"><span style="font-size: 30px;">Register Now for the&nbsp;Free&nbsp;Fibromyalgia&nbsp;</span></span></h2>
<h2 style="text-align: center;"><span style="color: #000080; background-color: #ffffff;"><span style="font-size: 30px;">Summit:</span></span></h2>
<h3>The Fibro-Fix Summit is online and free from June 20-27, 2016!</h3>
<p style="text-align: center;"><a href="https://qt247.isrefer.com/go/FIBRO16reg/dbrady/" target="_blank"><span style="font-size: 18px;"><em>Click Here to Register Now for Free!</em></span></a></p>
<p style="text-align: center;"><span style="font-size: 18px;"><em><img src="//cdn2.hubspot.net/hub/141581/hubfs/fibrosummit.jpeg?t=1464280796438&amp;width=149" alt="fibrosummit.jpeg" title="fibrosummit.jpeg" width="149" style="width: 149px;" srcset="//cdn2.hubspot.net/hub/141581/hubfs/fibrosummit.jpeg?t=1464280796438&amp;width=75 75w, //cdn2.hubspot.net/hub/141581/hubfs/fibrosummit.jpeg?t=1464280796438&amp;width=149 149w, //cdn2.hubspot.net/hub/141581/hubfs/fibrosummit.jpeg?t=1464280796438&amp;width=224 224w, //cdn2.hubspot.net/hub/141581/hubfs/fibrosummit.jpeg?t=1464280796438&amp;width=298 298w, //cdn2.hubspot.net/hub/141581/hubfs/fibrosummit.jpeg?t=1464280796438&amp;width=373 373w, //cdn2.hubspot.net/hub/141581/hubfs/fibrosummit.jpeg?t=1464280796438&amp;width=447 447w" sizes="(max-width: 149px) 100vw, 149px"></em></span></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span2 widget-span widget-type-space " style="" data-widget-type="space" data-x="10" data-w="2">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_145202533631346465" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_space" style="" data-hs-cos-general-type="widget" data-hs-cos-type="space"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-18 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cta cta1" style="" data-widget-type="cta" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_145202530646038551" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_cta" style="" data-hs-cos-general-type="widget" data-hs-cos-type="cta"></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->



    
<script type="text/javascript" src="https://static.hsstatic.net/content_shared_assets/static-1.4019/js/public_common.js"></script>

<!-- Start of Async HubSpot Analytics Code -->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "landing-page"]);
_hsq.push(["setCanonicalUrl", "http:\/\/info.designsforhealth.com\/fibrofix"]);
_hsq.push(["setPageId", "3951864893"]);
_hsq.push(["setContentMetadata", {
    "contentPageId": 3951864893,
    "legacyPageId": "3951864893",
    "contentGroupId": null,
    "abTestId": null,
    "languageVariantId": 3951864893,
    "languageCode": null
}]);
_hsq.push(["setTargetedContentMetadata", []]);
(function(d,s,i,r) {
    if (d.getElementById(i)){return;}
    var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
    n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/141581.js';
    e.parentNode.insertBefore(n, e);
})(document,"script","hs-analytics",300000);
</script>
<!-- End of Async HubSpot Analytics Code -->


<script type="text/javascript">
var hsVars = {
    ticks: 1464539550266,
    page_id: 3951864893,
    content_group_id: 0,
    portal_id: 141581,
    app_hs_base_url: "https://app.hubspot.com"
}
</script>



 
<!--dont remove this code----------------->
<script src="//cdn2.hubspot.net/hub/141581/hub_generated/style_manager/1410266982824/custom/page/DesignsforHealth_Sep2014-theme/DesignsforHealth_Sep2014-main.min.js"></script>
<!--dont remove this end code----------->


    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->

<!-- end coded_template: id:3768526793 path:generated_layouts/landing_page/Brand_Builder_Solutions/A_Briefcase_Landing_Page.html -->
<!-- Editor Styles -->
<style id="hs_editor_style" type="text/css">
#hs_cos_wrapper_module_144189692175418672  { font-size: 18px !important; display: block !important }
#hs_cos_wrapper_module_144189692175418672 p , #hs_cos_wrapper_module_144189692175418672 li , #hs_cos_wrapper_module_144189692175418672 span , #hs_cos_wrapper_module_144189692175418672 label , #hs_cos_wrapper_module_144189692175418672 h1 , #hs_cos_wrapper_module_144189692175418672 h2 , #hs_cos_wrapper_module_144189692175418672 h3 , #hs_cos_wrapper_module_144189692175418672 h4 , #hs_cos_wrapper_module_144189692175418672 h5 , #hs_cos_wrapper_module_144189692175418672 h6  { font-size: 18px !important }

</style>