
<div class="row">
	<div class="container  book-page briefcase-lp-supplement    hs-content-id-3951864893 hs-landing-page hs-page hs-content-path-fibrofix hs-content-name-fibro-fix  " style="margin-top:40px;">

      <div class = "hero-header"><h2>Get to the root of your Fibromyalgia</h2> <br><h3> start
  reversing your chronic pain and fatigue in 21 DAYS!</h3></div>
<div class = "section1 col-md-12">

<div class =  "hero-video col-md-6">
  <iframe src="//fast.wistia.net/embed/iframe/cs40hs7q8p?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div>

  
  <div class ="hero-video-side col-md-6">
    
   <div class="span6 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="6" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14572007068531031" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h4 style="text-align: center;"><span style="font-size: 18px; background-color: #ffffff; color: #333333;">Order at:</span></h4>
<p><span style="font-size: 24px; background-color: #ffffff; color: #99cc00;"><a href="http://www.amazon.com/gp/product/1623367123?keywords=the%20fibro%20fix&amp;qid=1457204046&amp;ref_=sr_1_1&amp;sr=8-1" target="_blank" data-mce-target="_blank"><img src="//cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1465829147477&amp;width=145" alt="amazon-logo_white.png" title="amazon-logo_white.png" width="145" style="display: block; margin-left: auto; margin-right: auto; width: 145px;" srcset="//cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1465829147477&amp;width=73 73w, //cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1465829147477&amp;width=145 145w, //cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1465829147477&amp;width=218 218w, //cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1465829147477&amp;width=290 290w, //cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1465829147477&amp;width=363 363w, //cdn2.hubspot.net/hub/141581/hubfs/amazon-logo_white.png?t=1465829147477&amp;width=435 435w" sizes="(max-width: 145px) 100vw, 145px"></a></span></p>
<p><a href="http://www.barnesandnoble.com/w/the-fibro-fix-david-m-brady/1122572181?ean=9781623367121" target="_blank" data-mce-target="_blank"><img src="//cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1465829147477&amp;width=95" alt="Barnes-and-Noble-Logo.gif" title="Barnes-and-Noble-Logo.gif" width="95" style="display: block; margin-left: auto; margin-right: auto; width: 95px;" srcset="//cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1465829147477&amp;width=48 48w, //cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1465829147477&amp;width=95 95w, //cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1465829147477&amp;width=143 143w, //cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1465829147477&amp;width=190 190w, //cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1465829147477&amp;width=238 238w, //cdn2.hubspot.net/hub/141581/hubfs/Barnes-and-Noble-Logo.gif?t=1465829147477&amp;width=285 285w" sizes="(max-width: 95px) 100vw, 95px"></a></p>
<p><a href="http://www.indiebound.org/book/9781623367121" target="_blank" data-mce-target="_blank"><img src="https://cdn.shopify.com/s/files/1/1258/4853/files/IndieBound.png?1901386981072969374?t=1465829147477&amp;width=120" alt="IndieBound" title="IndieBound" width="120" style="display: block; margin-left: auto; margin-right: auto; width: 120px;" srcset="https://cdn.shopify.com/s/files/1/1258/4853/files/IndieBound.png?1901386981072969374?t=1465829147477&amp;width=60 60w, https://cdn.shopify.com/s/files/1/1258/4853/files/IndieBound.png?1901386981072969374?t=1465829147477&amp;width=120 120w, https://cdn.shopify.com/s/files/1/1258/4853/files/IndieBound.png?1901386981072969374?t=1465829147477&amp;width=180 180w, https://cdn.shopify.com/s/files/1/1258/4853/files/IndieBound.png?1901386981072969374?t=1465829147477&amp;width=240 240w, https://cdn.shopify.com/s/files/1/1258/4853/files/IndieBound.png?1901386981072969374?t=1465829147477&amp;width=300 300w, https://cdn.shopify.com/s/files/1/1258/4853/files/IndieBound.png?1901386981072969374?t=1465829147477&amp;width=360 360w" sizes="(max-width: 120px) 100vw, 120px"></a></p>
<p><a href="http://www.booksamillion.com/p/Fibro-Fix/David-M-Brady/9781623367121?id=6572025687624" target="_blank" data-mce-target="_blank"><img src="//cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1465829147477&amp;width=120" alt="BAM.jpg" title="BAM.jpg" width="120" style="display: block; margin-left: auto; margin-right: auto; width: 120px;" srcset="//cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1465829147477&amp;width=60 60w, //cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1465829147477&amp;width=120 120w, //cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1465829147477&amp;width=180 180w, //cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1465829147477&amp;width=240 240w, //cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1465829147477&amp;width=300 300w, //cdn2.hubspot.net/hub/141581/hubfs/BAM.jpg?t=1465829147477&amp;width=360 360w" sizes="(max-width: 120px) 100vw, 120px"></a></p>
<p><a href="https://itunes.apple.com/us/book/the-fibro-fix/id1072489446?mt=11"><img src="//cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1465829147477&amp;width=110&amp;height=40" alt="APPLE.png" title="APPLE.png" width="110" height="40" style="display: block; margin-left: auto; margin-right: auto;" srcset="//cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1465829147477&amp;width=55&amp;height=20 55w, //cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1465829147477&amp;width=110&amp;height=40 110w, //cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1465829147477&amp;width=165&amp;height=60 165w, //cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1465829147477&amp;width=220&amp;height=80 220w, //cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1465829147477&amp;width=275&amp;height=100 275w, //cdn2.hubspot.net/hub/141581/hubfs/APPLE.png?t=1465829147477&amp;width=330&amp;height=120 330w" sizes="(max-width: 110px) 100vw, 110px"></a></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->

</div>
<script src="//fast.wistia.net/assets/external/E-v1.js" async></script>

  <!-- -->
  <!-- --> 
      <!-- <div class="span4 widget-span widget-type-cell form-wrapper" style="" data-widget-type="cell" data-x="8" data-w="4">

  


 <div class="col-md-3"> 
  <div style="padding:30px;background-color:#444444;height:100%;">
    <h2 style="color:#fff;font-weight:600;">Get Your Free ePaper Now!</h2>
    <p style="color:#fff;font-size:16px;font-weight:400;padding:10px 0;">Fibromyalgia: Proper Diagnosis is Half the Cure!</p>
 	<p style="color:#fff;font-size:16px;font-weight:400;padding:10px 0;">Learn why fibromyalgia is so commonly misdiagnosed, leading to improper treatment, and how to avoid this pitfall!</p>
  </div>
  <div style="padding:30px;background-color:#f2f2f2;height:100%;">
    <p style="color:#333;font-size:16px;font-weight:400;padding:6px 0;">Fill Out This Quick Form to Receive Your Free ePaper!</p>
<div id="hs_form_target_module_144189692175418672"></div>

<!--[if lte IE 8]>
<script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<!-- <div class=".briefcase-form .hs-button.primary, .briefcase-form input[type="submit"]">
    <script charset="utf-8" src="https://js.hsforms.net/forms/v2.js"></script>

<script>
    hbspt.forms.create({
        portalId: '141581',
        formId: '987ece0c-fb52-4174-bb54-b818073359ec',
        formInstanceId: '4351',
        pageId: 3951864893,
        
        
        
        
        pageName: "Fibro Fix Intro",
        
        
        redirectUrl: "https:\/\/fibrofix.myshopify.com\/pages\/the-book",
        
        
        
        css: '',
        target: '#hs_form_target_module_144189692175418672',
        
        
        
        
        
        contentType: "landing-page",
        
        formData: {
        cssClass: 'hs-form stacked hs-custom-form'
        }
    });
</script>
    </div>
  </div>
</div>
      </div> -->


  
  <!-- -->
  <!-- -->

  <!--<img src ="https://cdn.shopify.com/s/files/1/1258/4853/files/Screenshot_2016-06-02_08.21.24.png"/>-->
<div class="products banner col-md-12" style="background: transparent;">                
              
              <h3 style="text-align: center; color: #000;">Already Ordered The Book? <br>

Validate Your Purchase To Receive Your Free Bonus Video Interview With Dr. Brady on Fibromyalgia!</h3>
              
              
              <!-- <div class="line_1"></div>
              
              
              <h4 style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              
              
              <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
              
              
              <a class="btn_c" style="max-width: 600px; !important" href="http://cta-service-cms2.hubspot.com/ctas/v2/public/cs/c/?cta_guid=529f14d1-396d-4250-9d9c-4f14ca3a3329&placement_guid=ffb7cd49-fb34-460e-8db4-6349a3c542b8&portal_id=141581&redirect_url=APefjpFQKuFeerrkunIPGsfHH71OxtqjeU00ExXomMBR7dCIysfEP8GU9IQMPSYX0KhMj2-PtrwwYxt9FfQDOEzBlo7b2H2_hXsPpBR0IagL3F_I08P36L_Xnl4Np1lLSPcxO8UrYVjV5VupE209UKSDUvRvQ33-F2RkzGmVggWQv35XML37FjhDOr_gJCIljbXJeZWuXq5VxjWG6-Yz3wVZfXxEO5WzC8C-p_Ex8z8lUaz88OI4S3MQgC60piDU7Pfh8N4mhu_BSUwEofcV3QJ69bGCGacOCw&hsutk=2524fb96f4b6033a3f08683b644e9f6a&utm_referrer=http%3A%2F%2Finfo.designsforhealth.com%2Ffibrofix&canon=http%3A%2F%2Finfo.designsforhealth.com%2Ffibrofix&pageId=3951864893&__hsfp=1265574079">Click here to validate your purchase and receive an extra bonus video!</a>
               
            </div>

<div class = "section2 col-md-12" style="margin: 20px;">
<div class = "book-cover col-md-4">
	<img src = "https://cdn.shopify.com/s/files/1/1258/4853/files/book_cover.png?1639392458331909558" style="width: 100%; height: auto;"/>
</div>

<div class = "col-md-8 main">
	<div class ="text-header">The Fibro Fix: The breakthrough guide to begin healing your fibromyalgia and living pain-free.</div>
	<p>Are you suffering from debilitating chronic pain? Do you want to regain your energy and relieve your fibromyalgia symptoms? You’re not alone. More than 30 million Americans suffer from fatigue and body-wide chronic pain, often called “fibromyalgia.” But diagnosing and treating fibromyalgia remains mysterious and confusing, and studies show that up to 2/3 of sufferers are misdiagnosed. Fortunately, leading naturopathic medical doctor and nutritionist David Brady is here with the answer in The Fibro Fix.</p>
  <p>For more than 25 years, Dr. Brady has helped many thousands of patients seek relief from their fibromyalgia. In The Fibro Fix, you’ll access his comprehensive 21-day program, a life-changing prescription to determine if, in fact, you’re suffering from actual fibromyalgia or from one of myriad of other conditions often misdiagnosed as fibromyalgia. You’ll begin with three simple steps—detoxification, dietary changes, and movement—to start relieving your symptoms for good. The plan then offers deeper, long-term solutions designed to relieve your symptoms, based on your specific root cause, so that you can get back to feeling your best. He also includes delicious recipes, movement & exercise guides, supplement information, stress management techniques, and medication guidance, when needed.</p>
  <p class="learn-head">In The Fibro Fix you will learn: </p>
  
  <ul>
    <li>What is fibromyalgia really?</li>
  	<li>Do you really have it after all?</li>
    <li>What kind of other problems frequently are misdiagnosed as fibromyalgia?</li>
    <li>If I don’t really have fibromyalgia, how do I find out what is causing my symptoms?</li>
    <li>How do I start my recovery plan?</li>
    <li>What about the commonly used medications for fibromyalgia? Do they work?</li>
    <li>Does diet matter?</li>
    <li>Can supplements and herbal medicines help?</li>
    <li>How about exercise and movement?</li>
    <li>Do stress reducing practices like meditation, relaxation, and biofeedback really work?</li>
    <li>How do find a doctor that really understands fibromyalgia to help me?</li>
  </ul>
  
</div>
</div>
</div><!--end section-->
      
  


<div class="doc col-md-12" style="margin: 40px;">
<div class="doc-img col-md-offset-1 col-md-4">
	<img src ="https://cdn.shopify.com/s/files/1/1258/4853/files/Brady_David_April_2012-circle.png?2908376290547195449"/>
</div>
<div class="doc-img col-md-6">
	<div class ="doc-text-header">DAVID M. BRADY, ND</div>
	<p>is a leading naturopathic medical doctor at Whole Body Medicine in Fairfield, Connecticut. He is the V.P. of Health Sciences and the Director of the Human Nutrition Institute at the University of Bridgeport and the Chief Medical Officer of Designs for Health, Inc. and Diagnostic Solutions Laboratory, LLC. Dr. Brady is a highly sought after presenter and prolific author of medical papers and research articles on fibromyalgia and is a dedicated champion and advocate for patients suffering with a fibromyalgia diagnosis.</p>
</div>
</div><!--end section-->

<!-- <div class="cta2 col-md-12">
  <div class="cta-header">Preview the Introduction and Chapter 1 of The Fibro Fix</div>
	<p></p>
	<div class ="btn btn-primary">Click Here To Preview The Fibro Fix Now</div>
	</div>
</div>end section-->
<div class="products banner col-md-12" style="background: transparent;">                
              
  <h3 style="text-align: center; color: #000;">Preview the Introduction and Chapter 1 of <i>The Fibro Fix</i></h3>
              
              
              <!-- <div class="line_1"></div>
              
              
              <h4 style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
              
              
              <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
              
              
              <a class="btn_c" style="max-width: 400px; !important" href="http://cta-service-cms2.hubspot.com/ctas/v2/public/cs/c/?cta_guid=892b4b88-7fe4-494f-8c5d-c1675f17d479&placement_guid=ced09394-5bf5-4aeb-b74d-befb32b6141d&portal_id=141581&redirect_url=APefjpGN6CX-FB9UWI_ONsvsWPReQ6R_S2zQqb3Vuju4KLagJ09K6z35ZwU-U9M8ImK--JwtzN0V__HfavUlnFtzBgLHQzzR1MAOXjYHmWu_T4P6uIparOljbd1e4z8EUrYOZ9-Sjvzk340PYtYLtfdSqOa18U9nTp_0_9utfbchxoD-hnuu_n_yWnEL_bXskGopGttOCp_5sZeaZuMmuqDeJGe6kanMGuNW62kSiyv8Rfl0RljRNV9X1aUaNYWxqKspnGrEeygbwCnDD0EVYfgNpj0wp-ra6w&hsutk=2524fb96f4b6033a3f08683b644e9f6a&utm_referrer=http%3A%2F%2Finfo.designsforhealth.com%2Ffibrofix&canon=http%3A%2F%2Finfo.designsforhealth.com%2Ffibrofix&pageId=3951864893&__hsfp=1265574079">Click Here to Preview The Fibro Fix Now</a>
               
            </div>
<div class="experts col-md-12">
  <div class="testimonial-header col-md-offset-1"><h3 style="color: #093E6E; text-transform: uppercase;">What Other Experts are Saying:</h3></div>
<div class="testimonial-1 col-md-offset-1 col-md-10">
	<p style="font-size:19px;font-weight:100;margin: 30px 0 10px 0;">"Dr. David Brady approaches the topic of fibromyalgia care with knowledge that is both broad and deep; careful consideration of evidence; a fierce commitment to helping patients; a bounty of compassion; and a holistic perspective. His approach is as full of empowerment and hope as it is well informed by science. Guidance in this challenging area doesn't come any better than this."</p>
	<div class = "author" style="font-size:20px;font-weight:400; color: #093E6E;">-David L. Katz, MD, MPH, Director, Yale University’s Prevention Research Center, bestselling author of Disease Proof and The Flavor Point Diet.</div>
</div><!--end testimonial-->

<div class="testimonial-1 col-md-offset-1 col-md-10">
  <p style="font-size:19px;font-weight:100;margin: 30px 0 10px 0;">“The Fibro Fix offers the first effective and integrative approach for dealing with fibromyalgia, an incredibly pervasive and often debilitating disorder. This powerful book wonderfully supplants the inadequacies of a drug-centered, symptom focused approach by providing a comprehensive program that addresses fibromyalgia's underlying causes.”</p>
	<div class = "author" style="font-size:20px;font-weight:400; color: #093E6E;">David Perlmutter, MD, Author, #1 New York Times Bestseller, Grain Brain and Brain Maker.</div>
</div><!--end testimonial-->

</div><!--end section-->
      
<div class = "social-sharing col-md-12">

  <div class = "book-cover">
	<img src = "https://cdn.shopify.com/s/files/1/1258/4853/files/book_cover.png?1639392458331909558" style="width: 20%; height: auto; margin: auto; display: block; margin-bottom: 20px;"/>
</div>
 
  <div style="text-align: center; border-bottom: 2px solid #093E6E; font-size: 40px; width: 40%; height: auto; margin: auto; display: block; margin-bottom: 50px; padding-bottom: 15px;">
    Share With Friends
  </div>
  
  <div class = "social-bottom row" style="display: block;">
    
    <div class = "col-md-4" style="display: block; margin:auto;">
  <a href ="https://twitter.com/DrDavidBrady">
  <i class="fa fa-twitter-square fa-2x" style="padding: 10px 20px; width: 60%; border: 1px solid #093E6E; display: block; margin: auto; text-align: center;">
    <span style="margin:0px 0;display:inline-block; bottom:6px; font-family: Lato;"> Twitter</span>
  </i>
  </a>
    </div>
    <div class = "col-md-4" style="display: block; margin:auto;">
  <a href ="https://www.facebook.com/DrDavidBrady/">
  <i class="fa fa-facebook-square fa-2x" style="padding: 10px 20px; width: 60%; border: 1px solid #093E6E; display: block; margin: auto; text-align: center;">
    <span style="margin:0px 0;display:inline-block; bottom:6px; font-family: Lato;"> Facebook</span>
  </i>
  </a>
    </div>
  <div class = "col-md-4" style="display: block; margin:auto;">
  <a href ="http://instagram.com/drdavidbrady">
  <i class="fa fa-instagram fa-2x" style="padding: 10px 20px; width: 60%; border: 1px solid #093E6E; display: block; margin: auto; text-align: center;">
    <span style="margin:0px 0;display:inline-block; bottom:6px; font-family: Lato;"> Instagram</span>
  </i>
  </a>
    </div>
  </div>
  
  
</div>
      
</div>

<script type="text/javascript">
var hsVars = {
    ticks: 1464539550266,
    page_id: 3951864893,
    content_group_id: 0,
    portal_id: 141581,
    app_hs_base_url: "https://app.hubspot.com"
}
</script>



 
<!--dont remove this code----------------->
<script src="//cdn2.hubspot.net/hub/141581/hub_generated/style_manager/1410266982824/custom/page/DesignsforHealth_Sep2014-theme/DesignsforHealth_Sep2014-main.min.js"></script>
<!--dont remove this end code----------->


    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->

<!-- end coded_template: id:3768526793 path:generated_layouts/landing_page/Brand_Builder_Solutions/A_Briefcase_Landing_Page.html -->
<!-- Editor Styles -->
<style id="hs_editor_style" type="text/css">
#hs_cos_wrapper_module_144189692175418672  { font-size: 18px !important; display: block !important }
#hs_cos_wrapper_module_144189692175418672 p , #hs_cos_wrapper_module_144189692175418672 li , #hs_cos_wrapper_module_144189692175418672 span , #hs_cos_wrapper_module_144189692175418672 label , #hs_cos_wrapper_module_144189692175418672 h1 , #hs_cos_wrapper_module_144189692175418672 h2 , #hs_cos_wrapper_module_144189692175418672 h3 , #hs_cos_wrapper_module_144189692175418672 h4 , #hs_cos_wrapper_module_144189692175418672 h5 , #hs_cos_wrapper_module_144189692175418672 h6  { font-size: 18px !important }

</style>