<div id="content">
  <div class="container">
    {% include 'breadcrumb' %}
    <div class ="col-md-6 free-chapter-img">
      <!-- <img src="https://cdn.shopify.com/s/files/1/1258/4853/files/book_cover.png?14559241826793527202"/> -->
      <img src="https://cdn.shopify.com/s/files/1/1258/4853/files/book_cover_nobg.png?4807474534461481605"/>
    </div>
    
    <div class ="col-md-6">
      <h2 style="text-transform:uppercase; margin-bottom: 10px; text-align: center;">Get to the root of your FIBROMYALGIA</h2>
      <h3 style="margin-bottom: 10px; text-align: center;">Click the button below to read the introduction and the first chapter of the Fibro Fix</h3>
    	<img style="border-radius:5px; width: 100%; height: auto; margin: auto;" src="https://cdn.shopify.com/s/files/1/1258/4853/files/photo-1421338443272-0dde2463976a.jpeg?18174430873009623752" alt="" width="800" height="534" class="size-full wp-image-6521">
   <a class="btn_c" href="http://cta-service-cms2.hubspot.com/ctas/v2/public/cs/c/?cta_guid=892b4b88-7fe4-494f-8c5d-c1675f17d479&placement_guid=ced09394-5bf5-4aeb-b74d-befb32b6141d&portal_id=141581&redirect_url=APefjpFMAsF7sfqtzhhFfL6q9IHbZ8BZcUeXr6nSb0oBQwXkemG9xAHsf8v_09zJhFnei9fNzVshBIA1Xzzhp-UjIrN3CwMTyWu56yRvfqk6EIO8WtSN2LjEsWps5TeShJg7zhA9aJ9XoSPP97bRUVa2rtXe7rj1U8o2UbQdzGrIGdxzvJr38OqoDhqJdsfFzBk3tMGmNMWdQgPe-u5YpXK4Nb5ueCjr_TRoht3VyOl42G8lAkAAr2c4QzWuTIvi3ia_lSjzQt9dWw3A566zbClI2P9rbImMmg&hsutk=2524fb96f4b6033a3f08683b644e9f6a&utm_referrer=http%3A%2F%2Finfo.designsforhealth.com%2Ffibrofix&canon=http%3A%2F%2Finfo.designsforhealth.com%2Ffibrofix&pageId=3951864893&__hsfp=1265574079">Read The First Chapter</a>
    </div>
    
  </div>
</div>